{#
/**
 * @file os2web_contact.html.twig
 * Default theme implementation to present OS2Web Contact data.
 *
 * This template is used when viewing OS2Web Contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_os2web_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('os2web_accordion') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
